* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container #form {
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
  height: 60px;
  width: 80px;
  outline: none;
  background-color: rgb(189, 186, 184);
  border: solid 1px #ffffff;
  color: #ffffff;
  margin: 0px 0px;
}

button {
  width: 100px;
  background-color: rgb(235, 11, 11);
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  margin: 0px 2px;
}

#res {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
